<div><p>edit-task works!</p></div>
<!-- categoryId: 8
​
categoryName: "job new"
​
createdOn: "2024-12-13T16:50:13.1321908+08:00"
​
id: 7
​
name: "cat 8"
​
status: false -->

<!-- <form (ngSubmit)="login()">
    <div class="inputfield">
      <label for="username">Username:</label>
      <input
        type="text"
        id="username"
        [(ngModel)]="username"
        name="username"
        required
      />
    </div>
    <div class="inputfield">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="password"
        name="password"
        required
      />
    </div>
    <button type="submit">Login</button>
    <button type="button" (click)="register()">Register</button>
  </form> -->
