<div><p>edit-task works!</p></div>
<!-- categoryId: 8
​
categoryName: "job new"
​
createdOn: "2024-12-13T16:50:13.1321908+08:00"
​
id: 7
​
name: "cat 8"
​
status: false -->

<form (ngSubmit)="submitEdit()">
  <div class="inputfield">
    <label for="taskName">task name:</label>
    <input
      type="taskName"
      id="taskName"
      [(ngModel)]="task.name"
      name="taskName"
      required
    />
  </div>
  <div class="searchable-combobox">
    <!-- Input for search and selection -->
    <input
      name="optionName"
      type="text"
      [(ngModel)]="categoryPickedName"
      (input)="onSearch(categoryPickedName)"
      placeholder="Select or search category"
      list="category-list"
    />

    <!-- Data list for dropdown options -->
    <datalist id="category-list">
      <option
        *ngFor="let category of categoryNames"
        [value]="category"
      ></option>
    </datalist>
  </div>
  <button type="submit">Edit</button>
</form>
