<div>
  <button (click)="toggleCreateTaskPanel()">create task</button>

  <div *ngIf="showPanel" class="task-panel">
    <h3>Create New Task</h3>
    <form (ngSubmit)="createTask()" name="formname">
      <label for="taskName">Task Name:</label>
      <input
        name="new-task-name"
        type="text"
        id="taskName"
        [(ngModel)]="newTaskName"
        [ngModelOptions]="{ standalone: true }"
        name="taskName"
        required
      />

      <div class="searchable-combobox">
        <!-- Input for search and selection -->
        <input
          name="optionName"
          type="text"
          [(ngModel)]="categoryPickedName"
          (input)="onSearch(categoryPickedName)"
          placeholder="Select or search category"
          list="category-list"
        />

        <!-- Data list for dropdown options -->
        <datalist id="category-list">
          <option
            *ngFor="let category of categoryNames"
            [value]="category"
          ></option>
        </datalist>
      </div>
      <button type="submit" class="save-btn">Save</button>
      <button
        type="button"
        (click)="toggleCreateTaskPanel()"
        class="cancel-btn"
      >
        Cancel
      </button>
    </form>
  </div>
</div>
